# Default ignored files
/../../../../../../../ONECOM~1/AppData/Local/Temp/Rar$DRa17464.1486/spring-microservice/.idea/shelf/
/../../../../../../../ONECOM~1/AppData/Local/Temp/Rar$DRa17464.1486/spring-microservice/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../ONECOM~1/AppData/Local/Temp/Rar$DRa17464.1486/spring-microservice/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../ONECOM~1/AppData/Local/Temp/Rar$DRa17464.1486/spring-microservice/.idea/dataSources/
/../../../../../../../ONECOM~1/AppData/Local/Temp/Rar$DRa17464.1486/spring-microservice/.idea/dataSources.local.xml
